MONGODB_URI=mongodb+srv://admin_db_user:zcI7jcwvZ7QAir4Z@cluster0.iriyeav.mongodb.net/its_html-ccs_db?appName=Cluster0
JWT_SECRET=its999
GROQ_API_KEY=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
